*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.navbar {
  background-color: rgb(255, 255, 255);
  padding: 0rem 3rem;
  border-radius: 20px;
}

.nav__items {
  list-style: none;

  display: grid;
  gap: 2rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);

  position: relative;
}

.nav__item {
  cursor: pointer;
  color: rgb(33, 33, 33);
  font-size: 1.6rem;
  padding: 1.4rem 1.4rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  z-index: 99;
}

.nav__item span {
  transition: all 0.3s;
}

.nav__item a {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
  opacity: 0;

  position: absolute;
  bottom: 0;
  transition: all 0.3s;
}

/* .nav__item:hover span {
  transform: translateY(-35px);
}

.nav__item:hover a {
  opacity: 1;
  transform: translateY(-10px);
} */

.active span {
  transform: translateY(-35px);
}
.active a {
  opacity: 1;
  font-weight: 800;
  transform: translateY(-10px);
}

.indicator {
  width: 80px;
  height: 100%;
  border-radius: 50%;
  background-color: chartreuse;
  border: 8px solid #000;
  position: absolute;
  top: -50%;
  left: -4px;

  transition: all 0.3s;
}

.indicator::before,
.indicator::after {
  content: "";
  height: 25px;
  width: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0rem -1rem 0rem 0rem #000;

  position: absolute;
  top: 50%;
}

.indicator::before {
  left: -2rem;
  border-top-right-radius: 0.8rem;
}
.indicator::after {
  right: -2rem;
  border-top-left-radius: 0.8rem;
}
